body {
    font-family: No seven regular;
    font-size: 15px;
  }
.box {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65rem;
  height:52rem;
  padding: 2.5rem;
  box-sizing: border-box;
  background: rgba(114, 110, 110, 0.6);
  box-shadow: 0 15px 25px rgba(0,0,0,.5);
  border-radius: 0.625rem; 
  position: fixed;
}
.box .inputBox {
  top:3rem;
  position: relative;
  margin-top:-35px;
}
.box .inputBox input {
  width: 100%;
  padding: 0.625rem 0;
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: none;
  border-bottom: 0.065rem solid #fff;
  outline: none;
  background: transparent;
  }
.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem 0;
  font-size: 1.5rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  margin-left:13px;
  }
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label,
.box .inputBox input:not([value=""]) ~ label {
  top: -2.125rem;
  left: 0;
  color: #03a9f4;
  font-size: 1.5rem;
  margin-top: -3px;
}
.box .inputBox select:focus ~ label,
.box .inputBox select:valid ~ option,
.box .inputBox select:not([value=""]) ~ label {
  top: -1.115rem;
  left: 0;
  color: #03a9f4;
  font-size: 1.5rem;
}
.box .inputBox input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background-color: #4267B2;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1.5rem;
  margin-left:-280px ;
  margin-top: -15px;
}  
.box input[type="submit"]:hover {
  background-color: rgb(75, 117, 199);
}
.control-label1{
  margin-top:-20px;
}
.control-label2{
  margin-top:-20px;
}
.register{
  margin-top:-20px;
  height:50px;
}
#form{
  padding: 0.625rem;
}
.box select{
  width: 100%;
  padding: 0.625rem 0;
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: none;
  border-bottom: 0.065rem solid #fff;
  outline: none;
  background: transparent;
}
select option{
  width: 100%;
  padding: 0.625rem 0;
  font-size: 1.5remp;
  user-select: l0lk;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: none;
  border-bottom: 0.065rem solid #000;
  outline: none;
  background: #000;

}
.form1{
  margin-top:-85px;
  
}




