.box-generic {
    border: 1px solid #dbdbdb;
    padding: 15px;
    position: relative;
    background: #fff;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 0 0 15px;
}